:root{
    --blue:#0749b4;
    --green:#599c00;
    --yellow:#ffc421;
}

.logo-area {
    display: flex !important;
    gap:10px !important;
}
.logo-area img{
width:50px;
height:50px;
min-height:50px;
border-radius: 25px;
background-color:white;
border:2px solid var(--yellow);
}
header{
    position:fixed;
    width:100%;
    z-index: 99;
    background:white !important;
}
footer *{
color:rgb(179, 147, 7) !important;
}
header *{
    color:#151f2e 
    !important;
}

header a{
    font-size: 18px !important;
}
header {
    padding: 10px 5px !important;
}
.logo-area div span{
display: block;
}
.logo-area div span:nth-child(1){
    font-size:14px;
    color:#ceb008 !important;


}
.logo-area div span:nth-child(2){
    color:#61a700 !important;
    font-size:smaller;
    font-family: cursive;
}

@media (max-width:900px){
    header nav{
        display:none;
    }
    header {
        flex-direction: row !important;
        flex-flow:row-reverse row !important;
    }
    header .mobileNav{
        display:block !important;

    };
}

.main-banner .cta-buttons a{
    border-radius: 30px !important;

}

.main-banner .cta-buttons a:nth-child(2){
  background: linear-gradient(to right, black, var(--green));

}

.stats{
    display:flex;
    flex-flow:row wrap;
}

.welcome-section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.welcome-section *{
    text-align: start;
}

.vision-mission{
    display:flex !important;
    gap:20px;
    
    }
    .section-container{
        display: flex;
        width: max-content;
        margin:0 auto;
        gap:30px;
        max-width: 100%;;
    }
    .section-container >*{
        max-width:90%;
    }
@media (max-width:1025px) {
    .vision-mission{
        flex-direction: column!important;
        gap:30px;
    }
    .section-container{
        display: block;
    }
.welcome-section{
display: block;
}
.welcome-section *{
    text-align: center;
}

.welcome-section .stats .stat{
    min-width:90% !important;
padding: 30px 10px !important;
height:140px !important;
}

}


.welcome-section .stats .stat{
    width:180px;
height:200px;
padding: 30px 10px !important;
}

.welcome-section .stats .stat *{
    text-align: center;
}